@model IEnumerable<Esercizio_Pizzeria_In_Forno.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img id="logoGrande" src="~/img/logo/logo.webp" alt="logo" />
    <h2 class="my-3">LE NOSTRE PIZZE:</h2>
    <div class="row row-cols-auto g-3 justify-content-between">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front d-flex flex-column justify-content-between align-items-center">
                            <img src="~/img/pizze/@item.Photo" alt="@item.Name" style="width:90%;" />
                            <div>
                                <p class="title">@item.Name</p>
                                <p class="title">@item.Price €</p>
                                <p class="fs-4 fst-italic">@item.DeliveryTimeInMinutes minuti</p>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex flex-column justify-content-evenly align-items-center">
                            <h4>@item.Name</h4>
                            <h5>Ingredienti:</h5>
                            <p class="w-75">@string.Join(", ", item.Ingredients.Select(i => i.Name))</p>
                            <div class="d-flex align-items-center">
                                <input type="number" class="form-control me-2 quantity-input" data-id="@item.Id" min="1" value="1" style="width: 80px;" />
                                <button class="btn btn-warning text-white add-to-cart" data-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i>
                                </button>
                                <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.Id" class="btn btn-info text-white ms-2">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

<!-- Aggiungi SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            var addToOrderUrl = '@Url.Action("AddToOrder", "Order")';

            $(".add-to-cart").click(function () {
                var productId = $(this).data("id");
                console.log("Adding to cart, Product ID: " + productId);

                $.ajax({
                    type: "POST",
                    url: addToOrderUrl,
                    data: { productId: productId },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Prodotto aggiunto al carrello!',
                                timer: 2000,
                                showConfirmButton: false
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Errore',
                                text: 'Errore durante l\'aggiunta del prodotto al carrello: ' + response.message
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error details:', {
                            status: jqXHR.status,
                            textStatus: textStatus,
                            errorThrown: errorThrown
                        });
                        Swal.fire({
                            icon: 'error',
                            title: 'Errore',
                            text: 'Errore durante l\'aggiunta del prodotto al carrello. Per favore, riprova più tardi.'
                        });
                    }
                });
            });
        });
    </script>
}
