@model Esercizio_M4_W2_D3.Models.CinemaViewModel

@{
    ViewData["Title"] = "Cinema Multisala";
 }




<h2>Stato delle Sale</h2>

<div class="container">
    <div class="row row-cols-3 gap-3 p-2">

        @foreach (var sala in Model.Sale)
        {
            <div class="card p-2">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@sala.Locandina" class="img-fluid rounded-start" alt="locandina film">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">@sala.Nome</h3>
                            <h5 class="card-text">@sala.Titolo</h5>

                            


                            <p>POSTI RIMASTI: @sala.PostiRimasti</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>Sala</th>
            <th>Capienza Massima</th>
            <th>Biglietti Venduti</th>
            <th>Biglietti Ridotti</th>
            <th>Posti Rimasti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sala in Model.Sale)
        {
            <tr>
                <td>@sala.Nome</td>
                <td>@sala.CapienzaMassima</td>
                <td>@sala.BigliettiVenduti</td>
                <td>@sala.BigliettiRidotti</td>
                <td>@sala.PostiRimasti</td>
            </tr>
        }
    </tbody>
</table>


