@model IEnumerable<Esercizio_Gestione_Albergo.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Clienti";
}

<h1>@ViewData["Title"]</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">Crea Nuovo Cliente</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Codice Fiscale</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Città</th>
            <th>Provincia</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Cellulare</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.CodiceFiscale</td>
                <td>@cliente.Cognome</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Città</td>
                <td>@cliente.Provincia</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.Cellulare</td>
                <td>
                    <a asp-action="Details" asp-route-codiceFiscale="@cliente.CodiceFiscale" class="btn btn-info">Dettagli</a>
                    <a asp-action="Edit" asp-route-codiceFiscale="@cliente.CodiceFiscale" class="btn btn-warning">Modifica</a>
                    <a asp-action="Delete" asp-route-codiceFiscale="@cliente.CodiceFiscale" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
