@model List<Esercizio_M4_W2_D5.Models.ProductViewModel>
@{
    ViewData["Title"] = "Scarpe & Co";
}

<h1>La Nostra vetrina</h1>
<div class="container">
    <div class="row row-cols-4">
        @foreach (var product in Model)
        {
            <div class="card">
                <img src="~/images/@product.ImgCover" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h4 class="card-title">@product.Brand</h4>
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">@product.Price €</p>
                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Vedi Articolo</a>
                </div>
            </div>
        }

    </div>
</div>