@model List<Esercizio_M4_W2_D5.Models.ProductViewModel>
@{
    ViewData["Title"] = "Scarpe & Co";
}
<div class="container-fluid text-center shadow-sm text-white fst-italic fw-bold title">
    <h1>La Nostra Vetrina</h1>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gap-2 justify-content-center pt-2">
        @foreach (var product in Model)
        {
            <div class="card d-flex flex-column justify-content-between p-2 shadow-sm">
                <img src="~/images/@product.ImgCover" class="card-img-top" alt="@product.Name">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">@product.Brand</h4>
                    <h5 class>@product.Name</h5>
                    <p class="card-text description">@product.ShortDescription</p>
                </div>
                <p class="card-title text-danger fw-bold fs-4 align-self-end">@product.Price €</p>
                <a asp-action="Details" asp-route-id="@product.Id" class="btn title text-white">Vedi Articolo</a>
            </div>
        }

    </div>
</div>